.Title{
   color: #e27227; 
   font-weight: bold;
   font-size: 23px;
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
   background-color: white;
   border-radius: 30px;
   border-color: bisque;
   margin: 50px;
   padding: 20px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.Title_Paragraph{
    font-style: italic;
    font-size: 18px;
    color: gray;
}
thead {
    background-color: #ff6600;
    color: rgb(255, 255, 255);
}
.Part_4>table{
    background-color: #f3f3f3;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
th, td {
    padding: 10px;
    text-align: center;
}
table, th, td {
    border: 1px solid rgb(255, 255, 255);
}
h2{
    border-bottom: 2px solid #ff6600;
    padding-bottom: 10px;
}
h1,h2{
    color:#ff6600
}

.Picture_1,img{
    text-align: center;
    border-radius: 10px;
}
.Picture_2{
    text-align: center;
    
}
.Part_5 h3{
    color:#ff6600
}
.Part_5>p>a{
    background-color: #ff6600;
    border-radius: 10px;
    font-size: 20px;
    color: #f3f3f3;
    font-weight: 900;
    text-decoration: none;
    text-shadow: #e27227;
    padding: 10px;
}
.Comeback{
    margin: 30px;
    text-align: center;
}
.Part_1,.Part_4,.Part_5,.Part_2,.Part_3{
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 50px;
}
.Part_2>p>p>a{
    text-decoration: none;
}

header {
    background-color: orange;
    color: white;
    padding: 10px 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    margin: 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

footer {
    background-color: whitesmoke;
    color: orange;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

